body {
    font-family: Roboto, sans-serif;
    margin: 0;
    color: #151515;
}

a {
    color: #151515;
}

.form-row:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .control__column:not(:last-child) {
        margin-right: 0.5rem;
    }
}

.card {
    border: 1px solid #d5d5d5;
    border-radius: 0.25rem;
    padding: 1rem;
}

.card:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card__control {
    border: 0;
    border-radius: 0;
    padding: 0;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

@media (max-width: 768px) {
    .hide {
        display: inline;
    }

    .show {
        display: none;
    }
}
