.header {
    background-color: #f5f5f5;
}

.header__layout {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 1.5rem;
}

.header__nav .header__link:not(:last-child) {
    margin-right: 0.5rem;
}

.header__link {
    text-decoration: none;
    color: #555555;
}
