.project-material-calc__common {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-gap: 0.5rem;
}

.project-material-calc__work {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-gap: 0.5rem;
}

@media (max-width: 768px) {
    .project-material-calc__common, .project-material-calc__work {
        grid-template-columns: auto;
    }
}
