.project-list-item {
    display: grid;
    grid-gap: 0.5rem;
}

.project-list-item__info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    grid-gap: 0.5rem;
}

.project-list-item__action {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    grid-gap: 0.5rem;
}

.project-material-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5rem;
}

@media (min-width: 768px) {
    .project-list-item__not-nomenclature {
        justify-self: center;
    }
}

@media (max-width: 768px) {
    .project-list-item__info, .project-list-item__action, .project-material-item {
        grid-template-columns: auto;
    }
}
