.project_list_item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5rem;
}

@media (min-width: 768px) {
    .project_list_item__name {
        grid-column: 1 / 3;
    }

    .project_list_item__status {
        grid-column: 3 / 6;
        justify-self: center;
    }

    .project_list_item__created {
        grid-column: 6 / 8;
        justify-self: end;
    }

    .project_list_item__not-nomenclature {
        grid-column: 1 / 8;
        justify-self: center;
    }
}

@media (max-width: 768px) {
    .project_list_item {
        grid-template-columns: auto;
    }
}
