.product-filter {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0.5rem;
}

@media (max-width: 768px) {
    .product-filter {
        grid-template-columns: auto;
    } 
}
