.wages-list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    grid-gap: 0.5rem;
}

.wages-list-item__col {
    display: grid;
    grid-gap: 0.5rem;
}

@media (max-width: 768px) {
    .wages-list-item {
        grid-template-columns: auto;
    }
}
