.nomenclature_list_item {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 0.5rem;
}

@media (max-width: 768px) {
    .nomenclature_list_item {
        grid-template-columns: auto;
    }

    .nomenclature_list_item__edit, .nomenclature_list_item__delete {
        order: 1;
    }
}
