.product-list-item {
    display: grid;
    grid-gap: 0.5rem;
}

.product-list-item__tab {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    grid-gap: 0.5rem;
}

.product-list-item__tab a {
    text-decoration: none;
}

.product-list-item__tab-active {
    border-bottom: 5px solid #d5d5d5;
}

.product-list-item__info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    grid-gap: 0.5rem;
}

.product-list-item__action {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    grid-gap: 0.5rem;
}

.product-material-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5rem;
}

.product-performer-item {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) repeat(6, 1fr);
    grid-gap: 0.5rem;
}

@media (min-width: 768px) {
    .product-list-item__not-nomenclature {
        justify-self: center;
    }
}

@media (max-width: 768px) {
    .product-list-item__info, .product-list-item__action, .product-material-item, .product-performer-item {
        grid-template-columns: auto;
    }

    .product-list-item__tab {
        justify-content: center;
    }
}
