.modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .5);

    display: grid;
    justify-items: center;
    align-items: start;

    padding-top: 5rem;
}

.modal {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    width: 90%;
    max-width: 768px;
}

.modal__small {
    max-width: 300px;
}

.modal__header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
