.project__control {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: end;
}

@media (max-width: 768px) {
    .project__control {
        grid-template-columns: auto;
    } 
}
