@media (min-width: 768px) {
    .project-material-add__nomenclature {
        grid-column: 1 / 5;
        align-self: end;
    }

    .project-material-add__quantity {
        grid-column: 5 / 7;
        align-self: end;
    }

    .project-material-add__button {
        grid-column: 7 / 8;
    }
}
