.product-performer-add {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0.5rem;
}

@media (min-width: 768px) {
    .product-performer-add__user {
        grid-column: 1 / 10;
        align-self: end;
    }

    .product-performer-add__button {
        grid-column: 10 / 11;
    }
}

@media (max-width: 768px) {
    .product-performer-add {
        grid-template-columns: auto;
    }
}
