.select {
    border: 1px solid #555555;
    border-radius: 0.25rem;
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    width: 100%;
}

.select__light {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #aaaaaa;
}

.select__error {
    border-color: #ff0000;
}

.select__error_message {
    font-size: 0.9rem;
    color: #ff0000;
}

.select__label_error {
    color: #ff0000;
}
