.button {
    border: 1px solid #555555;
    border-radius: 0.25rem;
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

.button:hover {
    background-color: #f5f5f5;
}

.button__block {
    width: 100%;
}

.button__light {
    border: 0;
    color: #777777;
}

.button__small {
    font-size: 0.9rem;
    line-height: 0.5;
}
